
  @import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&family=Work+Sans:wght@400;600;700;800;900&display=swap');


  
body{
    font-family: 'Work Sans', sans-serif; 
    background-color: #FFFFFE;
}

/* :root{
    --primary-col-bg:#2f70b2 ;

} */



.card-font-h2{
   color:#094067 !important; 
}
.project-container p{
    color: #5F6C7B;
    /* width: 90%; */
    /* margin: 0 auto; */

}
/* project section card */
/* 
/* 
 */
.projects-name-font>h2{
    display: inline-flex;
padding-top: 20px;
padding-bottom: 40px;
color: #094067;
font-family: Eczar;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 50px */
letter-spacing: 0.8px;
}
/* .img-container{
    max-width: 500;
    height: 400px;
    background-color: #dfdfee;
    border-radius: 15px;
    border: 1px solid #094067;
    display: flex;
    justify-content: center;
} */
.project-container{
    background-color: #B9DAF3;
    /* padding-top: 100px; */
    /* padding: 30px 0; */
}
.img-container-font{
    color: #094067;
font-family: "Work Sans";
font-size: 140px;
font-style: normal;
font-weight: 600;
line-height: 150%;
opacity: 10%; /* 200.428px */
width: 100%;}

@media only screen and (max-width: 752px) {
    .project-img>img{
        
    width: 350px;
margin-top: 50px;}

    
  }

  @media only screen and (max-width: 776px) {
    .project-img>img{
        
    width: 350px;
margin-top: 50px;
}

    
  }

.project-card{
    background-color: #ffffff;
    padding: 30px 0;
    padding: 50px ;
    border-radius: 20px;
}
.project-card p{
    width: 95%;
}
.card-icon{
    width: 70px;
    height: 70px;
    background-color: #EF4565;
    border-radius: 50%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.card-icon-container{
    display: flex;
    gap: 20px;
    justify-content: start;
    
}

/* project section card */
/* 
/* 
 */


.--primary-col{
    --primary-col-bg:#66a0d9 ;
}

h1,h3,h4,h5,h6{
    font-family: 'Eczar', serif;
}

.navcolor{
    color: #5F6C7B !important;
}

.navcolor:hover{
    color: #094067 !important;
}

.btn-custom{
    color: #3DA9FC;
    border-radius: 10px;
    border: solid 2px #3DA9FC !important;
    background-color: #ffffff;
    /* font-size: 15px; */

}
.btn:hover{
    color: #ffffff;
    background-color: #3DA9FC;
    
}
.icons{
    display: flex;
    font-size: 50px;
    color: #EF4565;
}
.icons>a{
    
    color: #EF4565;
}



.navbar-toggler{
    /* */
    border: 2px solid #3DA9FC;
}
.navbar-toggler:hover{
    color: #3DA9FC; 
    border: 2px solid;
}

.premh2{

    color: #3DA9FC; 
}

.heroh1{
    color: #094067;
    font-style: normal;
    letter-spacing: 2.4px;
}

.herohmar{
    margin-left: 100px;
}

/* hero text */
.hero-text{
color: #5F6C7B;
}



/* animation effect */

.project-img {
    
   
    /* overflow: hidden; */
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .project-img:hover {
    transform: scale(1.1);
  }
  

  /* nav line animation */
 